<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <%= inline_svg_tag 'logo-mono', class: 'mx-auto h-12 w-auto fill-teal-500', alt: 'Ninetyfour' %>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Don't have an account?
        <%= link_to sign_up_path, class: 'font-medium text-indigo-600 hover:text-indigo-500' do %>
          Sign up
        <% end %>
      </p>
    </div>

    <%= form_with url: sign_in_path, model: @user, method: :post, class: 'mt-8 space-y-6' do |form| %>
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <%= form.label :email, class: 'sr-only' %>
          <%= form.email_field :email, autofocus: true, autocomplete: 'email', required: true, class: 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm', placeholder: 'Email address' %>
        </div>
        <div>
          <%= form.label :password, class: 'sr-only' %>
          <%= form.password_field :password, autocomplete: 'password', required: true, class: 'relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm', placeholder: 'Password' %>
        </div>
      </div>

      <div class="flex items-center justify-end">
        <div class="text-sm">
          <%= link_to forgot_password_path, class: 'font-medium text-indigo-600 hover:text-indigo-500' do %>
            Forgot your password?
          <% end %>
        </div>
      </div>

      <div>
        <%= form.button class: 'group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' do %>
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: mini/lock-closed -->
            <%= inline_svg_tag 'mini/lock-closed', class: 'h-5 w-5 text-indigo-500 group-hover:text-indigo-400' %>
              <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign in
        <% end %>
      </div>
    <% end %>
  </div>
</div>
