<div id="<%= dom_id(expense) %>">
  Expense of <%= format_amount expense.total %>
  from <%= expense.account.display_name %>
  <% if expense.contact.present? %>
  at <%= expense.contact.display_name %>
  <% end %>
    <% expense.lines.each do |line| %>
    <div class="ml-2">
      <span class="mr-4"><%= line.account.display_name %></span>
      <span><%= format_amount line.subtotal %></span>
    </div>
  <% end %>

  <% expense.taxes.each do |tax| %>
    <div class="ml-2">
      <span class="mr-4"><%= tax.sales_tax.name %></span>
      <span><%= format_amount tax.amount %></span>
    </div>
  <% end %>
</div>
