<%= turbo_stream_from [current_organization, :count] %>

<div class="sm:hidden">
  <label for="tabs" class="sr-only">Select a tab</label>

  <select class="mt-4 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" onchange="window.location.href = this[this.selectedIndex].dataset.href">
    <% organization_menu_items(@organization).each do |menu_item| %>
    <option data-href="<%= menu_item[:path] %>"<% if current_page?(menu_item[:path]) %> selected<% end %>><%= menu_item[:title] %></option>
    <% end %>
  </select>
</div>

<div class="hidden sm:block">
  <div class="border-b border-gray-200">
    <nav class="mt-2 -mb-px flex space-x-8" aria-label="Tabs">
      <% organization_menu_items(@organization).each do |menu_item| %>
        <%= link_to menu_item[:path],
                    class: class_names(
                      'whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm',
                      { 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-200': !current_page?(menu_item[:path]) },
                      { 'border-indigo-500 text-indigo-600 hover:text-indigo-800 hover:border-indigo-600': current_page?(menu_item[:path]) }
                    ) do %>

          <%= menu_item[:title] %>

          <% if menu_item[:counter].present? %>
          <span id="<%= menu_item[:counter_id] %>"
                class="<%= class_names(
                  'hidden ml-2 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block',
                  { 'bg-gray-100 text-gray-900': !current_page?(menu_item[:path]) },
                  { 'bg-indigo-100 text-indigo-600': current_page?(menu_item[:path]) }
                ) %>">
            <%= menu_item[:counter] %>
          </span>
          <% end %>
        <% end %>
      <% end %>
    </nav>
  </div>
</div>
