<div class="py-6 px-4 sm:px-6 lg:px-8">
  <%= render 'header' %>

  <%= turbo_stream_from [current_organization, :permissions] %>

  <div class="sm:flex sm:items-top mt-10 mb-6">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Permissions</h1>
      <p class="mt-2 text-sm text-gray-700">
        A list of financial accounts for recording transactions in the organization's general ledger. Accounts may be added to the chart of accounts as needed; they would not generally be removed, especially if any transaction had been posted to the account or if there is a non-zero balance.
      </p>
    </div>
  </div>

  <div class="text-sm">
    <div class="flex items-end relative overflow-hidden bg-slate-100 border-t-2 border-b-2 p-4">
      <div class="w-52 h-52 font-bold flex items-end">Roles</div>

      <div class="h-14 font-bold border-b-2 border-slate-500 flex items-center w-14 overflow-visible whitespace-nowrap -rotate-90 mr-3">
        Business units
      </div>

      <% current_organization.business_units.each do |business_unit| %>
        <div class="h-14 flex items-center w-14 overflow-visible whitespace-nowrap -rotate-90">
          <%= business_unit.name %>
        </div>
      <% end %>
    </div>

    <% current_organization.roles.each do |role| %>
      <div class="flex border-b py-3 px-5 mt-1 items-center">
        <div class="w-64 mr-4"><%= role.name %></div>
        <% current_organization.business_units.each do |business_unit| %>
          <div class="w-14 px-2">
            <%= render current_organization.permissions.find_by(role: role, business_unit: business_unit) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
