<div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
  <div class="sm:col-span-6">
    <label class="text-base font-medium text-gray-900">Outstanding invoices</label>
    <p class="text-sm leading-5 text-gray-500">How do you prefer to receive notifications?</p>

    <div class="mt-4">
      <fieldset>
        <legend class="sr-only">
          Outstanding invoices
        </legend>

        <div class="space-y-5">
          <% current_organization.invoices.outstanding.each do |invoice| %>
          <div class="relative flex items-start">
            <label class="flex items-center">
              <div class="flex h-5 items-center">
                <%= form.radio_button :invoice_id, invoice.id, class: 'h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500' %>
              </div>
              <div class="ml-3 text-sm">
                <span class="font-medium text-gray-700"><%= invoice.contact.display_name %> </span>
                <span id="small-description" class="text-gray-500">(<%= invoice.date %>) : <%= format_amount(invoice.amount_due) %> due out of <%= format_amount(invoice.total) %> total</span>
              </div>
            </label>
          </div>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
</div>
