<div>
  <div>
    <img class="h-32 w-full object-cover lg:h-48 xl:rounded-tr-lg" src="https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="">
  </div>

  <div class="px-4 sm:px-6 lg:px-8">
    <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
      <div class="flex">
        <img class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32" src="<%= contact.avatar_url %>" alt="">
      </div>

      <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
        <div class="mt-6 min-w-0 flex-1 sm:hidden 2xl:block">
          <h1 class="truncate text-2xl font-bold text-gray-900"><%= contact.display_name %></h1>
        </div>

        <div class="justify-stretch mt-6 flex flex-col space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
          <a href="tel:<%= contact.phone_number %>" class="inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2">
            <%= inline_svg_tag 'mini/phone', class: '-ml-1 mr-2 h-5 w-5 text-gray-400' %>
            <span>Call</span>
          </a>

          <a href="mailto:<%= contact.email %>" class="inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2">
            <%= inline_svg_tag 'mini/envelope', class: '-ml-1 mr-2 h-5 w-5 text-gray-400' %>
            <span>Message</span>
          </a>
        </div>
      </div>
    </div>

    <div class="mt-6 hidden min-w-0 flex-1 sm:block 2xl:hidden">
      <h1 class="truncate text-2xl font-bold text-gray-900"><%= contact.display_name %></h1>
    </div>
  </div>
</div>
