<section aria-labelledby="timeline-title" class="lg:col-span-1 lg:col-start-3">
  <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
    <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Timeline</h2>

    <div class="mt-6 flow-root">
      <ul role="list" class="-mb-8">
        <% commercial_document.audit_events.order('occured_at desc').each_with_index do |audit_event, index| %>
        <li>
          <div class="relative pb-8">
            <% if index < commercial_document.audit_events.size - 1 %>
            <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <% end %>

            <div class="relative flex space-x-3">
              <div>
                <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                  <svg class="h-5 w-5 text-white" x-description="Heroicon name: mini/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"></path>
                  </svg>
                </span>
              </div>

              <div class="flex min-w-0 flex-1 justify-between space-x-4">

                <div>
                  <p class="text-sm text-gray-500">
                    <%= audit_event.user.display_name %>
                    <%= audit_event.action %>d
                    this <%= audit_event.auditable.type %>
                    <%= time_ago_in_words audit_event.occured_at %> ago
                    using <%= audit_event.integration.name %>.
                  </p>

                  <div class="mt-2 bg-gray-100 p-2 gap-1 grid">
                    <% audit_event.changes_from_previous_version.each do |change| %>
                      <div class="text-xs">
                        <%= change[:property] %>
                        was changed from <%= change[:was] %>
                        to <%= change[:is] %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="justify-stretch mt-6 flex flex-col">
      <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">View complete audit trail</button>
    </div>
  </div>
</section>
