<div class="flex flex-col" data-controller="datatable">
  <div class="-my-2 -mx-4 sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

        <div class="relative">
          <div class="hidden absolute top-0 left-12 flex h-14 items-center space-x-3 bg-gray-50 sm:left-16" data-datatable-target="batchActions">
            <%= form_with(url: polymorphic_url([document_name.pluralize.to_sym]), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } ) do |form| %>
              <span data-datatable-target="identifiers"></span>

              <button type="submit" class="inline-flex items-center rounded border border-gray-300 bg-white px-2.5 py-1.5 text-xs font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-30" data-datatable-target="actionButton">
                Delete selected
              </button>
            <% end %>
          </div>
        </div>

        <table class="min-w-full table-fixed divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="relative w-16 px-6">
                <%= master_checkbox %>
              </th>
              <th scope="col" class="w-28 py-5 pr-3 text-left text-sm font-semibold text-gray-900">
                <%= sort_link @q, :date %>
              </th>
              <th scope="col" class="w-24 px-3 py-5 text-left text-sm font-semibold text-gray-900">
                <%= sort_link @q, :status %>
              </th>
              <th scope="col" class="px-3 py-5 text-left text-sm font-semibold text-gray-900">
                <%= sort_link @q, :contact_display_name %>
              </th>
              <th scope="col" class="w-32 px-3 py-5 text-left text-sm font-semibold text-gray-900">
                <%= sort_link @q, :number %>
              </th>
              <th scope="col" class="w-32 px-3 py-5 text-right text-sm font-semibold text-gray-900">
                <%= sort_link @q, :subtotal %>
              </th>
              <th scope="col" class="w-32 px-3 py-5 text-right text-sm font-semibold text-gray-900">
                <%= sort_link @q, :taxes_amount, 'Taxes' %>
              </th>
              <th scope="col" class="w-32 px-3 py-5 text-right text-sm font-semibold text-gray-900">
                <%= sort_link @q, :total %>
              </th>
              <th scope="col" class="relative w-14 text-right">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200 bg-white" id="commercial_documents">
            <%= render partial: "commercial_documents/datatable_item", collection: documents, as: :document %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
