<tr id="<%= dom_id(bank_transaction_rule) %>">
  <td class="relative px-6">
    <div class="row-marker absolute inset-y-0 left-0 w-0.5 bg-indigo-600"></div>
    <%= children_checkbox(bank_transaction_rule.id) %>
  </td>

  <td class="whitespace-nowrap py-4 pr-3 text-sm text-gray-900">
    <%= bank_transaction_rule.name %>
  </td>

  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= bank_transaction_rule.match_debit_or_credit %>
  </td>

  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= bank_transaction_rule.action %>
  </td>

  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= bank_transaction_rule.document_type %>
  </td>

  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= bank_transaction_rule.auto_apply? %>
  </td>

  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= link_to bank_transaction_rule, data: { turbo_frame: 'modal' }, class: 'btn btn-outline btn-xs' do %>
      <%= BankTransactionMatcher.verify_rule(bank_transaction_rule).size %> matched transactions
    <% end %>
  </td>

  <td class="whitespace-nowrap px-3 sm:px-0 py-4">
     <%= render DropdownComponent.new(title: "Rule menu", mode: 'light') do |c| %>
        <%= c.with_toggle do %>
          <%= inline_svg_tag 'mini/ellipsis-vertical', class: 'h-5 w-5' %>
        <% end %>

        <%= c.with_links do %>
          <%= link_to edit_bank_transaction_rule_path(bank_transaction_rule),
                      class: 'text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900',
                      data: { turbo_frame: 'modal' },
                      role: 'menuitem',
                      tabindex: -1 do %>
            Edit <span class="sr-only">, rule</span>
          <% end %>

          <%= link_to bank_transaction_rule,
                      class: 'text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900',
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      role: 'menuitem',
                      tabindex: -1 do %>
            Delete <span class="sr-only">, rule</span>
          <% end %>
        <% end %>
      <% end %>
  </td>
</tr>
