<div class="rounded-lg bg-white shadow">
  <div class="pt-1 pb-4 px-4 sm:pb-6 lg:pb-8 sm:px-6 lg:px-8">
    <%= render 'reports/query_params', query_parameters_components: @report.query_parameters_components %>
  </div>

  <div class="flex flex-col" data-controller="datatable">
    <div class="-my-2 -mx-4 sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-b-lg">
          <table class="min-w-full table-fixed divide-y divide-gray-300">
          <% @data.each do |classification| %>
            <thead class="bg-gray-50">
              <th scope="col" class="min-w-[12rem] py-3.5 px-6 text-left text-sm font-semibold text-gray-900">
                <%= classification[:name].capitalize %>
              </th>
              <th scope="col" class="w-28 px-6 py-3.5 text-left text-sm font-semibold text-gray-900 text-right">
                Balance
              </th>
            </thead>

            <tbody class="divide-y divide-gray-200 bg-white" id="accounts">
              <% classification[:lines].each do |line| %>
              <tr>
                <td class="py-2 px-6 text-xs text-gray-900">
                  <%= line[:account][:reference] %> <%= line[:account][:name] %>
                </td>
                <td class="whitespace-nowrap px-6 py-2 text-xs text-gray-500 text-right">
                  <% if line[:account][:id].present? %>
                    <%= link_to account_reports_path(line[:account][:id]), class: 'hover:underline hover:text-indigo-900 text-indigo-500', data: { turbo_frame: :modal } do %>
                      <%= format_amount(line[:total]) %>
                    <% end %>
                  <% else %>
                    <%= format_amount(line[:total]) %>
                  <% end %>
                </td>
              </tr>
              <% end %>

               <tr class="font-medium">
                <td class="whitespace-nowrap py-3 px-6 text-xs text-gray-900">
                  Total <%= classification[:name] %>
                </td>
                <td class="whitespace-nowrap px-6 py-3 text-xs text-gray-500 text-right">
                  <%= format_amount(classification[:total]) %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
